@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,400;1,700&family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: hsl(204, 43%, 93%);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a" "b c";
    margin: 2rem 1rem;
}

.box {
    padding: 40px;
}

.join {
    grid-area: a;
}

.left {
    grid-area: b;
    background-color: hsl(179, 62%, 43%);
}

.right {
    grid-area: c;
    background-color: hsl(179, 62%, 53%);
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 35px;
    padding-bottom: 23px;
}

h3 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 14px;
}

.join p {
    color: hsl(218, 22%, 67%);
    line-height: 1.6;
}

h2 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

h4 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

h4 span.price {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-right: 15px;
}

h4 span {
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}

.left p {
    color: #fff;
}

.left a {
    display: block;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 30px;
}

.right ul {
    list-style: none;
}

.right li {
    color: #fff;
    padding-bottom: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 425px){
    .wrapper {
        grid-template-columns: 100%;
        grid-template-areas: "a""b""c";
    }
    .box {
        padding: 30px;
    }
}